<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Saira+Semi+Condensed" rel="stylesheet">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
<div class="navbar-fixed">
  <nav class="grey lighten-3  z-depth-5">
    <div class="nav-wrapper">
        <a href="index.html" class="brand-logo logo blue-text"><img src="pwd.png" height="40px">PWD</a>
        <div class="container">
          <a href="#" data-activates="mobile-demo" class="button-collapse blue-text"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
          <li><a class="blue-text" href="index.html"><i class="material-icons left">home</i>Home</a></li>
          <li class="active"><a class="blue-text" href="about_us.html"><i class="material-icons left">business</i>About Us</a></li>
          <li><a class="blue-text" href="contact_us.html"><i class="material-icons left">web</i>Contact Us</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
              <li><a class="blue-text" href="login.html"><i class="material-icons left">person</i>Log In</a></li>
							  <li><a class="blue-text" href="admin.html"><i class="material-icons left">person</i>Admin Log In</a></li>

          </ul>
        </div>
    </div>
  </nav>
</div>
  <ul class="side-nav a grey lighten-3" id="mobile-demo">
        <li><a href="index.html" class="blue-text"><i class="material-icons left">home</i>Home</a></li>
        <li class="active"><a href="about_us.html" class="blue-text"><i class="material-icons left">business</i>About Us</a></li>
        <li><a href="contact_us.html" class="blue-text"><i class="material-icons left">contact_phone</i>Contact Us</a></li>
				<li><a class="blue-text" href="login.html"><i class="material-icons left">person</i>Log In</a></li>
					<li><a class="blue-text" href="admin.html"><i class="material-icons left">person</i>Admin Log In</a></li>
  </ul>
<script type="text/javascript">
      $( document ).ready(function() {
      $(".button-collapse").sideNav();
    });
  </script>
     </header>

       <div class="card-pannel blue darken-3">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text"><b>Working for the betterment of the state </b></h3>
          <h5 class="black-text" height="90%"><b>Constructing roads, bridges and many important state construction projects</b></h5>
        </div>
      </li>
      <li>
        <img src="4.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="black-text"><b>Public service</b></h3>
          <h5 class="black-text"><b>A complete dedication to the people and to the nation</b></h5>
        </div>
      </li>
      <li>
        <img src="5.jpg" height="90%"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="black-text"><b>We are CPWD</b></h3>
          <h5 class="black-text"><b>Central Govt owned autority incharge of public sector works</b></h5>
        </div>
      </li>
      <li>
        <img src="6.jpg" height="90%"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text"><b>Technology</b></h3>
          <h5 class="black-text"><b>Move fast with stable infrastructure</b></h5>
        </div>
      </li>
    </ul>
  </div>
  </div>
  <div class="col s12">
      <ul class="tabs blue darken-1 text-align center">
        <li class="tab col s3"><a href="#profile" class="white-text"><b>Profile</b></a></li>
        <li class="tab col s3"><a href="#History" class="white-text"><b>History</b></a></li>
      </ul>
    </div>
    <div class="container">
    <div id="profile" class="col s12">

    <div class="card-panel blue-grey darken-1 col s12 m12 l12 font">
      <h1 class="white-text">CPWD</h1>
      <p class="white-text">
        The Central Public Works Department of India, commonly referred to as the CPWD, is a central government owned authority in charge of public sector works. The Central Public Works Department, under the Ministry of Urban Development, builds and maintains public buildings. CPWD came into existence in July 1854 when Lord Dalhousie established a central agency for execution of public works and set up Ajmer Provincial Division. It has now grown into a comprehensive construction management department, which provides services from project concept to completion, and maintenance management.
      </p>
      <p class="white-text">
      It is headed by the Director General (DG) who is also the Principal Technical Advisor to the Government of India.The regions and sub-regions are headed by Special DGs and Additional DGs respectively, while the zones in all state capitals (except a few) are headed by Chief Engineers.
      </p>
    </div>


    </div>
    <div id="History" class="col s12">

      <div class="card-panel blue-grey darken-1 col s12 m12 l12">
        <h1 class="white-text">HISTORY</h1>
        <p class="white-text font">Centralized public works in India can be traced to efforts of Lord Dalhousie and Sir Arthur Cotton in the mid 19th century. Sir Arthur Cotton sums up the early policy of the East India Company rulers thus,</p>

<p class="white-text font">Public works have been almost entirely neglected throughout India. The motto hitherto has been: Do nothing, have nothing done, let nobody do anything. Bear any loss, let the people die of famine, let hundreds of lakhs be lost in revenue for want of water or roads, rather than do anything.

<footer class="white-text font">– Arthur Cotton (1854)</footer></p>

<p class="white-text font">Lord Dalhousie established the Central Public Works Department, and irrigation projects were among the earliest to be started.</p>
<p class="white-text font">
Public Works Department was formally established in the year 1854 in the sixth year of Lord Dalhousie’s tenure as Governor General. In the minutes of meeting held on 12 July 1854 the Governor General resolved that a central agency be provided by creating an office of Secretary to the Government of India in Department of Public Works.</p>
<p class="white-text font">Colonel W.E. Baker of the Bengal Engineers was accordingly appointed first Secretary to the Department of Public Works, this is the genesis of the Central Public Works Department</p>
      </div>
   </div>
 </div>
   <script type="text/javascript">
    $('.slider').slider();
    // Pause slider
$('.slider').slider('pause');
// Start slider
$('.slider').slider('start');
// Next slide
$('.slider').slider('next');
// Previous slide
$('.slider').slider('prev');
  </script>
 <footer class="page-footer light-blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Content</h5>
                <p class="grey-text text-lighten-4">This is a simple miniproject as to understand how a website can be built using different frameworks and tools
                the content of the website is taken from different websites.Links for more details of the website is provided above</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

</body>
</html>
