<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Saira+Semi+Condensed" rel="stylesheet">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title></title>
</head>
<body>
<header>
<div class="navbar-fixed">
  <nav class="grey lighten-3  z-depth-5">
    <div class="nav-wrapper">
        <a href="index.html" class="brand-logo logo blue-text"><img src="pwd.png" height="40px">PWD</a>
        <div class="container">
          <a href="#" data-activates="mobile-demo" class="button-collapse blue-text"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
          <li class="active"><a class="blue-text" href="index.html"><i class="material-icons left">home</i>Home</a></li>
          <li><a class="blue-text" href="about_us.html"><i class="material-icons left">business</i>About Us</a></li>
          <li><a class="blue-text" href="contact_us.html"><i class="material-icons left">web</i>Contact Us</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
              <li><a class="blue-text" href="login.html"><i class="material-icons left">person</i>Log In</a></li>
              <li><a class="blue-text" href="admin.html"><i class="material-icons left">person</i>Admin Log In</a></li>
          </ul>
        </div>
    </div>
  </nav>
</div>
  <ul class="side-nav a grey lighten-3" id="mobile-demo">
        <li class="active"><a href="index.html" class="blue-text"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="about_us.html" class="blue-text"><i class="material-icons left">business</i>About Us</a></li>
        <li><a href="contact_us.html" class="blue-text"><i class="material-icons left">contact_phone</i>Contact Us</a></li>
          <li><a class="blue-text" href="login.html"><i class="material-icons left">person</i>Log In</a></li>
          <li><a class="blue-text" href="admin.html"><i class="material-icons left">person</i>Admin Log In</a></li>
  </ul>

  <script type="text/javascript">
      $( document ).ready(function() {
      $(".button-collapse").sideNav();
    });
  </script>
</header>
  <img src="work.jpg" class="img" alt="works" height="100%" width="100%">
 <br><br>
 <div class="section">
    <div class="row">
        <div class="col s12 m6 l8">
          <div class="card-panel blue lighten-3 font z-depth-5">
            <h3>Works</h3>
            <p>The Public Works Department execute the construction, improvement, strengthening and maintenance of roads and bridges. The responsibility of construction of certain buildings of the state government and their maintenance is also upon this department.
            </p>
             <a class="waves-effect waves-light btn grey darken-4 center" href="about_us.html"><i class="material-icons left"></i>click here to know more</a>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <img src="architecture.gif" width="99%">
        </div>
    </div>
  </div>
  <div class="section">
    <div class="row">
        <div class="col s12 m6 l4">
          <img src="house_animate.gif" width="99%">
        </div>
        <div class="col s12 m6 l8">
          <div class="card-panel  deep-orange lighten-1 font z-depth-5">
           <h3>Vision</h3>
           <p>To ensure the quality and timeliness in construction works along with maintenance of national highways passing through the state and preventing encroachment on roads constructed by the department.
           </p>
            <a class="waves-effect waves-light btn grey darken-4 center" href="about_us.html"><i class="material-icons left"></i>More About Us</a>
          </div>
        </div>
    </div>
  </div>
  <div class="section">
    <div class="row">
        <div class="col s12 m12 l8">
          <div class="card-panel blue accent-3 font z-depth-5">
           <h3>Features</h3>
           <div class="row">
           <div class="col s12 m12 l4">
             compatible to all devices <br><br>
           </div>
           <div class="col s4 m12 l4">
             Records entries in the system <br><br>
           </div>
           <div class="col s12 m12 l4">
            Centralized database system <br><br>
           </div>
           </div>
           <div class="section">
           <div class="row">
           <div class="col s12 m12 l4">
             light weight faster response <br><br>
           </div>
           <div class="col s12 m12 l4">
             Can be accesed from any of the sites of the branch <br><br>
           </div>
           <div class="col s12 m12 l4">
            Safe & secured system <br><br>
           </div>
           </div>
           </div>
           <a class="waves-effect waves-light btn grey darken-4 center" href="contact_us.html"><i class="material-icons left"></i>Queries? .Contact Us</a>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <img src="resp.gif" width="100%">
        </div>
    </div>
  </div>
  <footer class="page-footer light-blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Content</h5>
                <p class="grey-text text-lighten-4">This is a simple miniproject as to understand how a website can be built using different frameworks and tools
                the content of the website is taken from different websites.Links for more details of the website is provided above</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
</html>
