<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
</style>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="animation.css">  

</head>
<body>
<div class="container-fluid">
	    <div class="row">
	    	
			<!--First Column-->
			<div class="col-sm-3">
  				<div class="rot card cards">			  
					<div class="front">
						<div class="card-content">
		  					<div class="content">
								<div>
  									<img src="download(1).jpg" alt="Avatar" style="width:230px; height: 220px">
  									<!--<h1>Hello</h1>-->
								</div>
							</div>
		  				</div>
					</div>
					
					<div class="back">
						<div class="card-content">
							<div class="content" style="text-align: center; margin: 5% ">
								<br><br>	
								<h3><b>Vaishna Shetty</b></h3>
								<h4><u><i>Event Head</i></u></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Second Column-->
			<div class="col-sm-3">
  				<div class="rot card cards">			  
					<div class="front">
						<div class="card-content">
		  					<div class="content">
								<div>
  									<img src="download(2).jpg" alt="Avatar" style="width:230px; height: 220px">
  									<!--<h1>Hello</h1>-->
								</div>
							</div>
		  				</div>
					</div>
					
					<div class="back">
						<div class="card-content">
							<div class="content" style="text-align: center; margin: 5% ">
								<br><br>	
								<h3><b>Anandu Gopi</b></h3>
								<h4><u><i>Event Head</i></u></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Third Column-->
			<div class="col-sm-3">
  				<div class="rot card cards">			  
					<div class="front">
						<div class="card-content">
		  					<div class="content">
								<div>
  									<img src="download(3).jpg" alt="Avatar" style="width:230px; height: 220px">
  									<!--<h1>Hello</h1>-->
								</div>
							</div>
		  				</div>
					</div>
					
					<div class="back">
						<div class="card-content">
							<div class="content" style="text-align: center; margin: 5% ">
								<br><br>	
								<h3><b>Aiman Saba</b></h3>
								<h4><u><i>Event Head</i></u></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Fourth Column-->
			<div class="col-sm-3">
  				<div class="rot card cards">			  
					<div class="front">
						<div class="card-content">
		  					<div class="content">
								<div>
  									<img src="download4.jpg" alt="Avatar" style="width:230px; height: 220px">
  									<!--<h1>Hello</h1>-->
								</div>
							</div>
		  				</div>
					</div>
					
					<div class="back">
						<div class="card-content">
							<div class="content" style="text-align: center; margin: 5% ">
								<br><br>	
								<h3><b>Shivraj Patil</b></h3>
								<h4><u><i>Technical Head</i></u></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Fifth Column-->
			<div class="col-sm-3">
  				<div class="rot card cards">			  
					<div class="front">
						<div class="card-content">
		  					<div class="content">
								<div>
  									<img src="download5.jpg" alt="Avatar" style="width:230px; height: 220px">
  									<!--<h1>Hello</h1>-->
								</div>
							</div>
		  				</div>
					</div>
					
					<div class="back">
						<div class="card-content">
							<div class="content" style="text-align: center; margin: 5% ">
								<br><br>	
								<h3><b></b>Abhijeet Iyer</h3>
								<h4><u><i>Technical Head</i></u></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Sixth Column-->
			<div class="col-sm-3">
  				<div class="rot card cards">			  
					<div class="front">
						<div class="card-content">
		  					<div class="content">
								<div>
  									<img src="download6.jpg" alt="Avatar" style="width:230px; height: 220px">
  									<!--<h1>Hello</h1>-->
								</div>
							</div>
		  				</div>
					</div>
					
					<div class="back">
						<div class="card-content">
							<div class="content" style="text-align: center; margin: 5% ">
								<br><br>	
								<h3><b></b>Yash Kokane</h3>
								<h4><u><i>Technical Coordinator</i></u></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Seventh Column-->
			<div class="col-sm-3">
  				<div class="rot card cards">			  
					<div class="front">
						<div class="card-content">
		  					<div class="content">
								<div>
  									<img src="download7.jpg" alt="Avatar" style="width:230px; height: 220px">
  									<!--<h1>Hello</h1>-->
								</div>
							</div>
		  				</div>
					</div>
					
					<div class="back">
						<div class="card-content">
							<div class="content" style="text-align: center; margin: 5% ">
								<br><br>	
								<h3><b></b>Kush Shah</h3>
								<h4><u><i>Technical Coordinator</i></u></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Seventh Column-->
			<div class="col-sm-3">
  				<div class="rot card cards">			  
					<div class="front">
						<div class="card-content">
		  					<div class="content">
								<div>
  									<img src="download8.png" alt="Avatar" style="width:230px; height: 220px">
  									<!--<h1>Hello</h1>-->
								</div>
							</div>
		  				</div>
					</div>
					
					<div class="back">
						<div class="card-content">
							<div class="content" style="text-align: center; margin: 5% ">
								<br><br>	
								<h3><b></b>Biren Arora</h3>
								<h4><u><i>Technical Coordinator</i></u></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
</body>
</html> 
